<div class="navbar bg-base-100 shadow-sm px-4">
    <div class="flex-1">
        <a class="link link-hover no-underline text-pink-600 font-bold hover:text-pink-700 text-xl normal-case" routerLink="/">Marked</a>
    </div>

    <div class="flex-none flex items-center gap-5 px-2">
        <a
            class="text-base-content/70 hover:text-pink-400 text-sm sm:text-base font-medium no-underline transition-colors duration-200 cursor-pointer" routerLink="/auth/login">
            Login
        </a>
        <a
            class="text-base-content/70 hover:text-pink-400 text-sm sm:text-base font-medium no-underline transition-colors duration-200 cursor-pointer" routerLink="/auth/register">
            Register
        </a>
    </div>
</div>