/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

@font-face {
  font-family: 'Instrument Sans';
  src: url('/assets/fonts/InstrumentSans-Regular.woff2.woff2') format('woff2');
}

@theme {
  --font-sans: 'Instrument Sans', sans-serif;
}